<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head', {
    title : 'CuBeats - HOME'
   }) %>

<body class="body__index">
  <!-- Header -->
  <%- include('./partials/header.ejs') %>
  <!-- slider -->
  <div class="swiper main__slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="/img/image1.jpg" /></div>
      <div class="swiper-slide"><img src="/img/image2.jpg" /></div>
      <div class="swiper-slide"><img src="/img/image3.jpg" /></div>
      <div class="swiper-slide"><img src="/img/image4.jpg" /></div>
      <div class="swiper-slide"><img src="/img/image5.jpg" /></div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  <div class="banner__mobile">
    <img src="/img/banner1.jpg" alt="banner alternativo">
  </div>
  <!-- Main body -->
  <main id="home">
    <!-- Tajetas -->
    <div class="cards">
      <% products.forEach(product => { %>
      <%- include('./partials/cardsProduct.ejs',{...product})  %>
      <%}) %>
    </div>
  </main>
  <!-- footer -->
  <%- include('./partials/footer.ejs') %>
  <%- include('./partials//scripts.ejs') %>
</body>

</html>