<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head', {
    title : 'Login'
   }) %>

<body class="login">
    <main class="login__main">
        <div class="login__goHome">
            <a href="/"><i class="fa-solid fa-left-long"></i></a>
        </div>
        <div class="login__form-container">
            <form action="/users/login" method="POST" class="login__form" >
                <div class="login__form-logo">
                    <img src="/img/logotransparente.png" alt="Logo">
                </div>
                <h2>LOG IN</h2>
                <div class="login__form-body">
                    <input type="email" placeholder="E-mail" name="email" id="email" value="<%= locals.old && (locals.old.email && locals.old.email)%>"/>
                    <% if (locals.errors) { %>
                    <small class="small-error"><%=errors.email&&errors.email.msg%></small>
                    <% } %>
                    <input type="password" placeholder="Password" name="password" id="password" required/>
                    <% if (locals.errors) { %>
                        <small class="small-error"><%=errors.password&&errors.password.msg%></small>
                        <% } %>
                    <label><input type="checkbox" id="remember" name="remember" value="recordarme"><span>Remember me</span></label>
                    <button type="submit">LOG IN</button>
                    <hr class="my-0">
                    <p class="mb-0">No account yet? <a href="/users/register">Register</a></p>
                </div>
            </form>
        </div>
    </main>
    <%- include('./partials/scripts.ejs') %>
  
</body>

</html>