<!DOCTYPE html>
<html lang="es">
	<%- include('./partials/head', { title : 'Cubeats' }) %>

	<body
		class="font-Manrope text-base bg-zinc-950 text-white font-medium flex flex-col min-h-screen"
	>
		<%- include("./partials/header") %>
		<main class="flex-1 grow">
			<article
				class="flex flex-col gap-8 py-7 px-4 md:py-14 md:px-14 lg:px-14 container mx-auto"
			>
				<div
					class="flex flex-col lg:flex-row items-start xl:items-center gap-8"
				>
					<div>
						<img
							src="/img/products/<%= product.image %>"
							alt=""
							class="w-48 h-48 object-cover"
						/>
						<img
							src="/img/products/<%= product.image %>"
							alt=""
							class="fixed top-0 left-0 right-0 z-10 blur-md opacity-10 w-full h-full object-cover pointer-events-none"
						/>
					</div>

					<div class="flex flex-col gap-3">
						<div class="flex flex-col gap-1 font-bold">
							<a
								href="/users/profile/<%= product.producer.dataValues.username.toLowerCase().replace(/\s/g, '') %>"
								class="text-sm border-white text-zinc-400 hover:underline font-normal"
							>
								<%= product.producer.dataValues.username %>
							</a>

							<p class="text-4xl"><%= product.name %></p>

							<!-- <p class="text-2xl w-fit py-1 mt-3">$ <%= product.price %></p> -->
						</div>

						<div id="products" class="flex justify-start items-start">
							<button onclick=<%="likefunction("+product.id+")"%>><svg
								width="24"
								height="24"
								viewBox="0 0 24 24"
								xmlns="http://www.w3.org/2000/svg"
								class="section-icon products-icon py-[0.78rem] px-[0.78rem] hover:bg-zinc-800 rounded-full flex items-center justify-center transition-all ease-in-out w-12 h-12 fill-zinc-400"
							>
								<path
								<% if (locals.userLogged&&userAllLikes &&userAllLikes.includes( product.id)) { %>
									fill="#a1a1aa"
									<% } else{%>
										fill-rule="evenodd"
									<% } %>
									clip-rule="evenodd"
									id="svg-heart-path<%= "-"+product.id %>"
									d="M12 4.68905C9.71236 2.43698 6.00337 2.43698 3.71573 4.68905C1.42809 6.94113 1.42809 10.5925 3.71573 12.8445L12 21L20.2843 12.8445C22.5719 10.5925 22.5719 6.94113 20.2843 4.68905C17.9966 2.43698 14.2876 2.43698 12 4.68905ZM12 18.1935L18.8812 11.4193C20.3729 9.95071 20.3729 7.58287 18.8812 6.1143C17.372 4.62857 14.9123 4.62857 13.4031 6.1143L12 7.49558L10.5969 6.1143C9.08771 4.62857 6.62802 4.62857 5.11882 6.1143C3.62706 7.58287 3.62706 9.95071 5.11882 11.4193L12 18.1935Z"
									stroke-width="2"
								></path>
							</svg></button>
							<svg
								width="24"
								height="24"
								viewBox="0 0 24 24"
								xmlns="http://www.w3.org/2000/svg"
								fill="currentColor"
								class="section-icon products-icon py-[0.78rem] px-[0.75rem] hover:bg-zinc-800 rounded-full flex items-center justify-center transition-all ease-in-out w-12 h-12 fill-zinc-200"
							>
								<path
									fill-rule="evenodd"
									clip-rule="evenodd"
									d="M11 13V21H13V13H21V11H13V3H11V11H3V13H11Z"
								></path>
							</svg>
						</div>
					</div>
				</div>
				<div
					class="py-1 px-2 grid gap-4 grid-cols-[auto,0.1fr,2fr,0.1fr] items-center bg-zinc-900"
				>
					<button id="playsong">
						<svg
							id="play-icon"
							width="45"
							height="45"
							viewBox="0 0 24 24"
							xmlns="http://www.w3.org/2000/svg"
							fill="currentColor"
							class="p-2 rounded-full bg-zinc-800 hover:brightness-110"
						>
							<path d="M20 12L8 5V19L20 12Z"></path>
						</svg>
						<svg
							id="pause-icon"
							width="45"
							height="45"
							viewBox="0 0 24 24"
							xmlns="http://www.w3.org/2000/svg"
							fill="currentColor"
							class="p-2 rounded-full bg-white fill-zinc-900 hover:brightness-90 hidden"
						>
							<path
								fill-rule="evenodd"
								clip-rule="evenodd"
								d="M10 5H7V19H10V5ZM17 5H14V19H17V5Z"
							></path>
						</svg>
					</button>

					<p
						id="time-display"
						class="text-xs font-bold text-center text-zinc-500"
					>
						0:00
					</p>

					<div id="waveform" class="">
						<!-- the waveform will be rendered here -->
					</div>
					<p
						id="duracion-total"
						class="text-xs font-bold text-center text-zinc-500"
					></p>
				</div>
				<script type="module">
					import WaveSurfer from "https://unpkg.com/wavesurfer.js@7/dist/wavesurfer.esm.js";

					const wavesurfer = WaveSurfer.create({
						container: "#waveform",
						waveColor: "#36363a",
						// waveColor: "#414141",
						progressColor: "#ffffff",
						cursorWidth: 0,
						barHeight: 0.55,
						height: 70,
						interact: true,
						url: "/audio/<%= product.beat %>",
					});

					wavesurfer.on("ready", () => {
						const timeDisplay = document.getElementById("time-display");
						const duracionTotalDisplay =
							document.getElementById("duracion-total");

						// Obtener la duración total
						const duracionTotal = wavesurfer.getDuration();

						const totalMinutes = Math.floor(duracionTotal / 60);
						const totalSeconds = Math.floor(duracionTotal % 60);
						duracionTotalDisplay.innerText = `${totalMinutes}:${totalSeconds
							.toString()
							.padStart(2, "0")}`;

						wavesurfer.on("audioprocess", (time) => {
							const minutes = Math.floor(time / 60);
							const seconds = Math.floor(time % 60);
							timeDisplay.innerText = `${minutes}:${seconds
								.toString()
								.padStart(2, "0")}`;
						});
					});

					const playButton = document.getElementById("playsong");
					const playIcon = document.getElementById("play-icon");
					const pauseIcon = document.getElementById("pause-icon");

					playButton.addEventListener("click", () => {
						if (wavesurfer.isPlaying()) {
							wavesurfer.pause();
							playIcon.style.display = "inline-block";
							pauseIcon.style.display = "none";
						} else {
							wavesurfer.play();
							playIcon.style.display = "none";
							pauseIcon.style.display = "inline-block";
						}
					});

					wavesurfer.on("interaction", () => {
						if (wavesurfer.isPlaying()) {
							playIcon.style.display = "none";
							pauseIcon.style.display = "inline-block";
						} else {
							playIcon.style.display = "inline-block";
							pauseIcon.style.display = "none";
						}
					});
				</script>
			</article>
			<article
				class="flex flex-col gap-7 py-7 px-4 md:pt-0 md:pb-14 md:px-14 lg:px-14 container mx-auto relative"
			>
				<div class="flex flex-col gap-7">
					<p class="text-xl font-medium pb-1 border-b-2 border-white w-fit">
						Detalles de la pista
					</p>
					<hr class="flex-1 border border-zinc-900 w-full" />
				</div>
				<div
					class="flex flex-col md:flex-row gap-6 md:gap-48 font-semibold text-base"
				>
					<div class="flex flex-col gap-6">
						<div class="flex flex-col gap-1">
							<p class="text-zinc-500 text-sm">Genre</p>
							<a
								href="/products/search?keywords=<%= product.category.name.toLowerCase() %>"
								class="hover:underline font-normal"
								><%= product.category.dataValues.name %></a
							>
						</div>
						<div class="flex flex-col gap-1">
							<p class="text-zinc-500 text-sm">Produced by</p>
							<a
								href="/users/profile/<%= product.producer.dataValues.username.toLowerCase().replace(/\s/g, '') %>"
								class="hover:underline font-normal"
								><%= product.producer.dataValues.username %></a
							>
						</div>
					</div>
					<div class="flex flex-col gap-1">
						<div class="flex flex-col gap-1">
							<p class="text-zinc-500 text-sm">Tempo</p>
							<a
								href="/products/search?keywords=<%= product.category.name.toLowerCase() %>"
								class="hover:underline font-normal"
								><%= 120 %> BPM</a
							>
						</div>
					</div>
				</div>
			</article>
		</main>
		<%- include('./partials/footer.ejs')%>
		<script src="https://unpkg.com/wavesurfer.js"></script>
		<script src="/js/likes.js"></script>
	</body>
</html>
