<!DOCTYPE html>
<html lang="es">
	<%- include('./partials/head', { title : 'Cubeats' }) %>

	<body
		class="font-Manrope text-base bg-black text-white font-medium flex flex-col min-h-screen"
	>
		<%- include("./partials/header") %>
		<main class="flex-1 grow">
			<article
				class="flex flex-col gap-7 py-2 px-4 md:py-6 md:px-14 container mx-auto"
			>
				<div>
					<p class="text-xl border-b-2 pb-1 font-semibold border-white w-fit">
						Pistas
					</p>
				</div>
				<form action="/products/search" method="GET">
					<div class="flex items-center relative">
						<input
							type="text"
							placeholder="Busca música, géneros o productores"
							class="pl-12 py-4 bg-zinc-900 flex justify-center items-center gap-4 w-full z-0 truncate"
							name="keywords"
						/>
						<i
							class="fa-solid fa-magnifying-glass absolute left-4 text-zinc-200 text-xl z-40"
						></i>
						<!-- <a href="/products/search" class="fa-solid fa-xmark absolute right-4 text-white text-2xl"></a> -->
					</div>
				</form>

				<div
					class="flex flex-col items-start gap-7 font-semibold text-zinc-300"
				>
					<!-- <div
						class="flex items-center justify-between w-full sm:justify-start sm:gap-5"
					>
						<p class="text-white">Todo</p>
						<div class="flex gap-4 items-center">
							<p>Playlist</p>
							<p
								class="py-1 px-2 border border-white rounded-full text-xs scale-90"
							>
								5
							</p>
						</div>
						<div class="flex gap-3 items-center">
							<p>Lanzamientos</p>
							<p
								class="py-1 px-2 border border-white rounded-full text-xs scale-90"
							>
								<%= products.length %>
							</p>
						</div>
						<div class="flex gap-3 items-center">
							<p>Topic</p>
							<p
								class="py-1 px-2 border border-white rounded-full text-xs scale-90"
							>
								8
							</p>
						</div>
					</div> -->
					<hr class="flex-1 border border-zinc-800 w-full" />
					<div
						class="flex flex-col sm:flex-row sm:gap-4 justify-between w-full"
					>
						<div class="items-center hidden sm:flex justify-between gap-3">
							<i class="fa-solid fa-sliders text-lg"></i>
							<p>Géneros</p>
							<p>Duración</p>
							<p>BPM</p>
						</div>
						<div class="flex items-center justify-between gap-3">
							<div class="flex items-center gap-3">
								<i class="fa-regular fa-clock text-xl"></i>
								<p>Recientes</p>
							</div>
							<div class="items-center gap-3 hidden sm:flex">
								<i class="fa-solid fa-fire text-xl"></i>
								<p>Populares</p>
							</div>
							<div class="flex items-center gap-3 text-white">
								<i class="fa-solid fa-chevron-down text-xl"></i>
								<p class="line-clamp-1">Mejor coincidencia</p>
							</div>
						</div>
					</div>
				</div>
			</article>
			<article
				class="flex flex-col text-center items-center justify-center gap-5 px-4 py-7 md:py-6 sm:px-14 container mx-auto"
			>
				<div class="flex flex-col gap-4 text-zinc-300 w-full relative">
					<%- include("./partials/cardsProduct") %>
				</div>
			</article>
		</main>
		<%- include('./partials/footer.ejs')%>
		<script src="https://unpkg.com/wavesurfer.js"></script>
		<script type="module" src="/js/wave.js"></script>
	</body>
</html>
