<!DOCTYPE html>
<html lang="es">
	<%- include('./partials/head', { title : 'Cubeats' }) %>
	<body
		class="font-Manrope text-base bg-zinc-950 text-white font-medium flex flex-col min-h-screen"
	>
		<%- include("./partials/header") %>
		<main class="flex-1 grow">
			<article
				class="flex flex-col gap-12 py-12 px-4 md:px-14 container mx-auto"
			>
				<div
					class="flex flex-col-reverse md:flex-row justify-between items-start md:items-center gap-12"
				>
					<div class="flex flex-col gap-2 font-bold w-fit md:w-96">
						<p class="text-4xl sm:text-4xl w-fit min-h-[45px] max-h-[45px]">
							<%= userDatos.username %>
						</p>

						<div class="min-h-[150px] max-h-[150px] overflow-hidden">
							<% if (userDatos.description) { %>
							<p class="font-normal text-zinc-300">
								<%= userDatos.description %>
							</p>
							<% } else { %>
							<p class="font-normal text-gray-300">
								Aquí todavía no hay descripción.
							</p>
							<% } %>
						</div>
					</div>

					<img
						src="/img/users/<%= userDatos.image || 'default1.webp' %>"
						alt=""
						class="rounded-full w-60 h-60 xl:w-72 xl:h-72 object-cover self-start md:self-end"
					/>
				</div>
				<div class="flex flex-col gap-7">
					<p class="text-xl font-medium pb-1 border-b-2 border-white w-fit">
						Todos los track's
					</p>
					<hr class="flex-1 border border-zinc-900 w-full" />
					<% if (products && products.length > 0) { %>
					<div
						class="flex flex-col sm:gap-4 justify-between w-full text-zinc-300"
					>
						<div class="items-center hidden sm:flex gap-4">
							<button id="openCategory">
								<svg
									width="24"
									height="24"
									class="fill-zinc-300 hover:fill-zinc-50 transition-all ease-in-out"
									viewBox="0 0 24 24"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M9 5C10.3062 5 11.4175 5.83481 11.8293 7H20V9H11.8293C11.4175 10.1652 10.3062 11 9 11C7.69378 11 6.58254 10.1652 6.17071 9H4V7H6.17071C6.58254 5.83481 7.69378 5 9 5ZM9 9C9.55228 9 10 8.55228 10 8C10 7.44772 9.55228 7 9 7C8.44772 7 8 7.44772 8 8C8 8.55228 8.44772 9 9 9Z"
									></path>
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M15 19C13.6938 19 12.5825 18.1652 12.1707 17L4 17L4 15L12.1707 15C12.5825 13.8348 13.6938 13 15 13C16.3062 13 17.4175 13.8348 17.8293 15L20 15L20 17L17.8293 17C17.4175 18.1652 16.3062 19 15 19ZM15 15C14.4477 15 14 15.4477 14 16C14 16.5523 14.4477 17 15 17C15.5523 17 16 16.5523 16 16C16 15.4477 15.5523 15 15 15Z"
									></path>
								</svg>
							</button>
							<button id="buttonTwo" class="hidden">
								<svg
									width="24"
									height="24"
									viewBox="0 0 24 24"
									xmlns="http://www.w3.org/2000/svg"
									class="fill-zinc-50"
								>
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M11.2672 7.84707L5 14.6417L6.47013 15.9977L12.0022 10L17.5343 15.9977L19.0045 14.6417L12.7373 7.84707L12.0022 7.05013L11.2672 7.84707Z"
									></path>
								</svg>
							</button>
							<button
								id="genreCategory"
								class="hover:text-zinc-50 transition-all ease-in-out"
							>
								Géneros
							</button>
							<!-- <p class="hover:text-zinc-50 transition-all ease-in-out">
								Duración
							</p> -->
						</div>
						<div id="dropCategory" class="items-center gap-1 hidden">
							<% categories.forEach(categorie => { %>
							<a
								href="/products/search?keywords=<%= categorie.name.toLowerCase() %>"
								class="bg-zinc-900 hover:bg-zinc-800 transition-all ease-in-out py-3 px-4"
								><%= categorie.name %></a
							>

							<% }) %>
						</div>
						<script>
							document.addEventListener("DOMContentLoaded", function () {
								const button = document.getElementById("openCategory");
								const buttonTwo = document.getElementById("buttonTwo");
								const menu = document.getElementById("dropCategory");
								const buttonGenre = document.getElementById("genreCategory");

								button.addEventListener("click", function (event) {
									event.stopPropagation();
									toggleMenu();
								});

								buttonTwo.addEventListener("click", function () {
									toggleMenu();
								});

								buttonGenre.addEventListener("click", function (event) {
									event.stopPropagation();
									toggleMenu();
								});

								function toggleMenu() {
									if (menu.classList.contains("hidden")) {
										// Si el menú está oculto, mostrarlo
										menu.classList.remove("hidden");
										menu.classList.add("flex");
										button.classList.add("hidden");
										buttonTwo.classList.remove("hidden");
										buttonGenre.classList.add("text-zinc-50");
									} else {
										// Si el menú está visible, ocultarlo
										menu.classList.remove("flex");
										menu.classList.add("hidden");
										buttonTwo.classList.add("hidden");
										button.classList.remove("hidden");
										buttonGenre.classList.remove("text-zinc-50");
									}
								}
							});
						</script>
					</div>
					<% } else { %>
					<p class="font-normal text-gray-300">
						No has agregado ningún track a tu colección.
					</p>
					<% } %>
				</div>
				<div
					class="flex flex-col items-start gap-7 font-semibold text-zinc-400"
				>
					<% if (products && products.length > 0) { %> <% include
					partials/cardsProduct %> <% } %>
				</div>

				<!-- <div class="flex flex-col gap-4 text-zinc-300 w-full relative"></div> -->
			</article>
		</main>
		<%- include('./partials/footer.ejs')%>
		<script src="https://unpkg.com/wavesurfer.js"></script>
		<script src="/js/likes.js"></script>
	</body>
</html>
