<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', { title : 'User profile' }) %>

<body class="profile">

  <%- include('./partials/header.ejs') %>
  <main class="profile__main ">
    <div class="main__container">
      <div class="row">
        <div class="col-md-3 ">
          <div class="d-flex flex-column align-items-center ">
            <div class="autor-profile mb-3">
              <img src="/img/users/<%= userDatos.image||'default-image.png' %>" alt="">
            </div>
            <p class="fs-3"><%= userDatos.username  %></p>
            <% if (locals.userLogged && locals.userLogged.username === userDatos.username) { %>
            <a class="btn btn-primary  mb-4" href="#" role="button">Edit Profile</a>
            <% } %>
            <!-- <label for="avatar" class="form-label btn btn-primary avatar-label ">Change Avatar
                  <input class="input-button" id="avatar" name="avatar" type="file">
                </label> -->
            <div class="d-flex w-100 justify-content-around  fs-3 profile__redes">
              <a href="#"><i class="fa-brands fa-youtube"></i></a>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
              <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
              <a href="#"><i class="fa-brands fa-tiktok"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="autor-page-cover ">
            <img class="profile-bg__img img-fluid" src="/img/users/<%= userDatos.cover||'default-image.png' %>" alt="">
            <div class="d-flex mt-1 justify-content-end">
              <!-- <label class="btn btn-primary">
                    Change cover
                    <input type="file" class="input-button">
                  </label> -->
            </div>
          </div>
          <hr>
          <article>
            <h3>About Me</h3>
            <% if (userDatos.description) { %>
            <p><%= userDatos.description %></p>
            <% }else{ %>
            <p>No description...</p>
            <% } %>
          </article>
          <hr>
          <article>
            <h3>Beats Upload</h3>

            <% if (products.length>0) { %>
            <% products.forEach(product => { %>
            <div class="d-flex justify-content-center">
              <%- include('./partials/cardsProduct.ejs',{...product})  %>
            </div>
            <%}) %>
            <% } else{%>
            <p>No beats uploaded yet...</p>
            <% } %>

          </article>
        </div>
      </div>
    </div>
  </main>
  <%- include('./partials/footer.ejs') %>
  <%- include('./partials/scripts.ejs') %>

  <!-- <body class="profile modal-open" style="overflow: hidden; padding-right: 17px;">


    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Launch demo modal
    </button>
    <div class="modal fade show" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: block;" aria-modal="true">
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
              <a type="button" class="btn-close" aria-label="Close" href="/users/profile/ferbeoulve"></a>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <a type="button" class="btn btn-secondary" href="/users/profile/ferbeoulve">Close</a>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-backdrop fade show"></div> -->
</body>

</html>