<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head', {
  title : 'Register'
 }) %>

<body class="register">
  <main class="register__main">
    <div class="register__goHome">
      <a href="/"><i class="fa-solid fa-left-long"></i></a>
    </div>
    <div class="register__form-container">
      <form action="/users/register" class="register__form" method="post">
        <div class="register__form-logo">
          <img src="/img/logotransparente.png" alt="Logo">
        </div>
        <h2>Register</h2>
        <div class="register__form-body">
          <div class="register__form-input">
            <input type="text" placeholder="Username" name="username" id="username" value="<%= locals.old && (locals.old.username && locals.old.username) %>" required />
            <% if (locals.errors) { %>
            <small class="small-error"><%=errors.username&&errors.username.msg%></small>
            <% } %>
          </div>
          <div class="register__form-input">
            <input type="email" placeholder="Email" name="email" id="email" value="<%= locals.old && (locals.old.email && locals.old.email)%>" required />
            <% if (locals.errors) { %>
            <small class="small-error"><%=errors.email&&errors.email.msg%></small>
            <% } %>
          </div>
          <div class="register__form-input">
            <input class="register__form-password" type="password" placeholder="Password" name="password" id="password" required />
            <input type="password" placeholder="Repeat password" name="password2" id="password2" required />
            <% if (locals.errors) { %>
            <small class="small-error"><%=errors.password&&errors.password.msg%></small><br>
            <small class="small-error"><%=errors.password2&&errors.password2.msg%></small>
            <% } %>
          </div>
          <div class="register__form-input">
            <label><input type="checkbox" id="terminos" name="terminos"><span>Accept <a href="http://">terms and conditions</a></span></label>
            <% if (locals.errors) { %>
            <small class="small-error"><%=errors.terminos&&errors.terminos.msg%></small>
            <% } %>
          </div>
          <button type="submit">Register</button>
        </div>
      </form>
    </div>
  </main>
  <%- include('./partials/scripts.ejs') %>
</body>


</html>