<div class="card card_t<%=productId %>">
  <div class="card__image-holder">
    <a href="/products/detail/<%=productId %>"><img class="card__image" src="/img/products/<%= image ? image:'default-image.png' %>" alt="dj" /></a>
  </div>
  <div id="t<%=productId %>" class="card-title">
    <a class="toggle-info btn">
      <span class="left"></span>
      <span class="right"></span>
    </a>
    <h2>
      <%= name %>
      <small><%=category%></small>
    </h2>
  </div>
  <div class="card-flap flap1">
    <div class="card-description">
      <i class="fa-solid fa-play"></i>
      <i class="fa-solid fa-compact-disc"></i>
      <i class="fa-solid fa-volume-xmark"></i>
    </div>
    <div class="card-flap flap2">
      <div class="card-actions">
        <a href="/products/detail/<%=productId %>" class="btn"><i class="fa-solid fa-eye"></i></a>
        <a href="/cart" class="btn"><i class="fa-solid fa-cart-plus"></i></a>
      </div>
    </div>
  </div>
</div>

