<div class="sticky top-0 bg-zinc-950 z-50">
	<header
		class="py-2 px-4 md:px-14 container flex items-center justify-between mx-auto"
	>
		<a href="/" class="flex gap-2 items-center font-normal">
			<img src="/img/logotransparente.svg" alt="" class="w-10 md:w-5" />
			<p class="text-xl hidden sm:inline-block">Cubeats</p>
		</a>
		<div class="flex gap-3 items-center">
			<% if (locals.userLogged) { %>
			<div class="flex gap-5 items-center relative">
				<button
					id="dropdownDefaultButton"
					type="button"
					data-dropdown-toggle="dropdown"
					class="inline-block p-3 rounded-sm hover:bg-zinc-800 focus:bg-zinc-800 transition-all ease-in-out"
				>
					<svg
						width="24"
						height="24"
						viewBox="0 0 24 24"
						xmlns="http://www.w3.org/2000/svg"
						fill="var(--pds-color-white, #FFF)"
						class="src-mainapp-SignedInNav-___NavSecondaryItems__burgerIcon___ZlH-P"
						aria-label="Navigation menu"
					>
						<path
							fill-rule="evenodd"
							clip-rule="evenodd"
							d="M2 4H22V6H2V4ZM2 11H22V13H2V11ZM22 18H2V20H22V18Z"
						></path>
					</svg>
				</button>

				<!-- Dropdown menu -->
				<div
					id="dropdown"
					class="z-[100] hidden rounded-lg bg-zinc-900 shadow-2xl absolute left-auto right-px min-h-full top-full mt-2 w-64 flex-col py-4 px-4 gap-1 text-base"
				>
					<button id="toggleDropdown"></button>
					<% if (locals.userLogged.role === 3) { %>
					<a
						href="/users/profile/<%= locals.userLogged.username %>"
						class="inline-block py-2 px-3 hover:bg-zinc-800 transition-all ease-in-out rounded-lg"
						>Mi perfil</a
					>
					<a
						href="/users/profile/myData/<%= locals.userLogged.username %>"
						class="inline-block py-2 px-3 hover:bg-zinc-800 transition-all ease-in-out rounded-lg"
						>Mis datos</a
					>
					<a
						href="/users/profile/myTracks/<%= locals.userLogged.username %>"
						class="inline-block py-2 px-3 hover:bg-zinc-800 transition-all ease-in-out rounded-lg"
						>Mis track's</a
					>

					<% } else if (locals.userLogged.role === 2) { %>
					<a
						href="/users/profile/myData/<%= locals.userLogged.username %>"
						class="inline-block py-2 px-3 hover:bg-zinc-800 transition-all ease-in-out rounded-lg"
						>Mis datos</a
					>
					<a
						href="/users/profile/myTracks/<%= locals.userLogged.username %>"
						class="inline-block py-2 px-3 hover:bg-zinc-800 transition-all ease-in-out rounded-lg"
						>Mis compras</a
					>

					<% } else if (locals.userLogged.role === 1) { %>
					<a
						href="/users/profile/myData/<%= locals.userLogged.username %>"
						class="inline-block py-2 px-3 hover:bg-zinc-800 transition-all ease-in-out rounded-lg"
						>Mis datos</a
					>
					<a
						href="/users/profile/myTracks/<%= locals.userLogged.username %>"
						class="inline-block py-2 px-3 hover:bg-zinc-800 transition-all ease-in-out rounded-lg"
						>Mis track's</a
					>
					<% } %>
					<a
						href="/users/logout"
						class="flex justify-between w-full items-center"
					>
						<span
							class="inline-block py-2 px-3 hover:bg-zinc-800 transition-all ease-in-out rounded-lg text-base text-red-400 w-full"
							>Cerrar sesión</span
						>
					</a>
				</div>
				<script>
					document.addEventListener("DOMContentLoaded", function () {
						const button = document.getElementById("dropdownDefaultButton");
						const exit = document.getElementById("toggleDropdown");
						const menu = document.getElementById("dropdown");

						button.addEventListener("click", function (event) {
							event.stopPropagation();
							menu.classList.toggle("hidden");
							menu.classList.add("flex");
						});

						exit.addEventListener("click", function () {
							menu.classList.add("hidden");
						});

						document.addEventListener("click", function (event) {
							const isClickInsideDropdown = menu.contains(event.target);
							const isClickOnButton = button.contains(event.target);

							if (!isClickInsideDropdown && !isClickOnButton) {
								menu.classList.add("hidden");
							}
						});
					});
				</script>
			</div>
			<% } else { %>
			<a href="/users/login" class="py-3 px-3 rounded-sm">Iniciar sesión</a>
			<a href="/users/register" class="py-3 px-3 bg-blue-600 rounded-sm"
				>Crear cuenta
			</a>
			<% } %>
		</div>
	</header>
</div>
